:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-card {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

mat-list-item.selected {
  background-color: rgba(0,0,0,0.1);
}

mat-list-item {
  cursor: pointer;
}

.result-container {
  flex: 1 1 auto;
  overflow: auto;
}
